
<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class=""><i class="fa fa-cubes" aria-hidden="true">&nbsp;</i></a>
      <a class="navbar-brand" [routerLink]="['/']">Shop</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/fetch-data']">Fetch data</a>
          </li>

          <li class="nav-item dropdown">

            <a class="nav-link menu-item dropdown-toggle" data-toggle="dropdown" role="button" (click)="Drop()" aria-haspopup="true" aria-expanded="true">Управление контетом</a>
            <div class=" dropdown dropdown-menu" [ngClass]="{show: IsDrop}">
       
                  <a class="nav-link text-dark" [routerLink]="['/category']">Категории</a>

                  <a class="nav-link text-dark" [routerLink]="['/applicationtype']">Тип</a>
       
                  <a class="nav-link text-dark" [routerLink]="['/product']">Товары</a>
             </div>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>


