
<div *ngIf="!loading" class="d-flex justify-content-center">
  <app-loading></app-loading>
</div>

<div *ngIf="loading">
  <div class="row ms-1 me-1 mb-2">
    <div class="col-6">
      <h1 class="font-weight-bold">Тип</h1>
    </div>
    <div class="col-6 text-end">
      <app-addtype (typeForAdd)="addType($event)"></app-addtype>
    </div>
  </div>

  <div class="row border border-dark ms-2 me-2 mb-2">
    <table *ngIf="loading" class='table table-striped' aria-labelledby="tableLabel">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let type of appTypes">
          <td>{{ type.id }}</td>
          <td>{{ type.name }}</td>
          <td class="text-end">
            <app-edittype [type]="type" (typeForEdit)="editType($event)" ></app-edittype>
          </td>
          <td class="text-end">
            <button type="button" class="btn btn-outline-danger" (click)="deleteType(type.id)"><i class="fa fa-trash" aria-hidden="true"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

