<div class="card col-md-3 border-round box-shadow user-select-none border border-danger">
  <div class="card-body">
    <h5 class="card-title">{{productCard.name}}</h5>
    <img class="card-img-top img-rounded  mb-1 pt-5 pb-3 w-75 h-100" [src]="'..//images//product//'+productCard.image" alt="Card image cap">
    {{imagePath + productCard.image}}
  </div>
  <div class="card-body">
    <hr/>
    <div>
      <h5 class="card-title" style="font-weight:bold">Price: {{productCard.price}}</h5>
    </div>
    <div class="row pt-1 pb-1">
      <div class="col me-2 border text-center" style="background-color:aliceblue;">{{productCard.categoryId}}</div>
      <div class="col border text-center" style="background-color:floralwhite;">{{productCard.applicationTypeId}}</div>
    </div>
    <div class="row">
      <div class="mt-2 mb-2 border border-round">
        {{productCard.shortDes}}
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <button class="btn btn-primary form-control">Детали</button>
      </div>
      <div class="col-6 text-end">
        <button class="btn btn-danger form-control">Купить</button>
      </div>
      </div>
    </div>
</div>
